# SPDX-FileCopyrightText: Helmholtz-Zentrum Dresden-Rossendorf e.V. <https://www.hzdr.de>
# SPDX-FileCopyrightText: Organisation européenne pour la recherche nucléaire (CERN) <https://www.cern.ch>
# SPDX-FileCopyrightText: Axel Hübl <a.huebl@plasma.ninja>
# SPDX-FileCopyrightText: Matthias Werner <Matthias.Werner1@tu-dresden.de>
#
# SPDX-FileContributor: Simeon Ehrig <s.ehrig@hzdr.de>
# SPDX-FileContributor: Bernhard Manfred Gruber <bernhardmgruber@gmail.com>
# SPDX-FileContributor: Axel Hübl <a.huebl@plasma.ninja>
# SPDX-FileContributor: Jakob Krude <jakob.krude@hotmail.com>
# SPDX-FileContributor: Alexander Matthes <ziz@mailbox.org>
# SPDX-FileContributor: Jan Stephan <j.stephan@hzdr.de>
# SPDX-FileContributor: Jiří Vyskočil <jiri@vyskocil.com>
# SPDX-FileContributor: Matthias Werner <Matthias.Werner1@tu-dresden.de>
# SPDX-FileContributor: René Widera <r.widera@hzdr.de>
# SPDX-FileContributor: Benjamin Worpitz <benjaminworpitz@gmail.com>
#
# SPDX-License-Identifier: MPL-2.0

/docs/doxygen/*
/docs/source/_build
/docs/cheatsheet/cheatsheet.pdf

**/build*

# tmp files
*~

# netbeans project files
/nbproject/

# Code::Blocks project files
/*.cbp
/*.layout

# original backup files
*.orig

# Vim project files
.vimrc
.exrc
tags

# IDE & tmp build
.idea/
cmake-build-*/
.kdev?/
*.kdev?
spack-build*
build/

# Eclipse project files
/.project
/.cproject
/.settings/

# Visual Studio Code project files
.vscode/

# Visual Studio project files
.vs/
out

# clangd files
.cache/
compile_commands.json

# python chache
__pycache__

# default name of the job_generator.py output
jobs.yml

# pipenv files
Pipfile
Pipfile.lock
